@model Momntz.UI.Models.Login.LoginView 

@{
    Layout = "/Views/Shared/_MasonryMaster.cshtml";
 }

<div class="loginform centered formcontainer" >
    
    <h1>Login</h1>

    <form method="POST"  >
        <p>
            <label>Username</label>
            <input type="text" name="username" />
        </p>
                
        <p>
            <label>Password</label>
            <input type="password" name="password" />
        </p>
                
        <p style="color:red; font-weight: bold;" >@Model.Message</p>

        <input type="submit" value="Login" />
    </form>
    
    <ul id="signup" >
        <li>Forgot your <a href="/forgot">password or username</a>?</li>
        <li>Need an account? <a href="/join">Sign up</a>!</li>
    </ul>
</div>
