<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Momntz.</title>
        <link href="~/Content/css/site1.css" rel="stylesheet" />
        <style type="text/css">
            body{background-color: #fff;}
        </style>
    </head>
    <body>
        <div class="loginform centered formcontainer" >
            <h1 >Forgot something? Doh! It happens to all of us.</h1>
            <form class="contact-form" method="POST"  >
                <p>
                    <label><strong>Forgotten Username</strong></label>
                    <label style="font-size:12px;">Enter email address</label>
                    <input type="text" name="email"  />
                </p>
                <input type="submit" value="Send username" />
        
                <p style="margin-top: 50px;" >
                    <label><strong>Forgotten password</strong></label>
                    <label style="font-size:12px;">Enter Username</label>
                    <input type="text" name="username"  />
                </p>
                
                <input type="submit" value="Reset password" />

            </form>
        </div>
    </body>
</html>
