/*
    BEGIN General Forms
*/

input { border-radius: 3px;padding: 5px;border: 1px solid #ddd;font-weight: bold; }

input[type="submit"], button.action {background-color: #3A80BC;border: 2px solid #DDDDDD;border-radius: 5px;color: #fff;font-weight: bold;padding: 8px;}
input[type="submit"]:hover, button.action:hover { cursor: pointer;background-color: #fff;color: #3A80BC;}

div.formcontainer { padding: 20px;}
div.formcontainer h1 { font-size: 20px;margin-top: 20px;margin-bottom: 30px;}
form p input[type=text], form p input[type=password] {width: 200px;}
form p {margin-bottom: 20px;}
form p input[type=submit] { margin-bottom: 20px;}
form p label { display: block;color: #666;}

label.field-validation-invalid, label.field-validation-error { color: red;}


/*
    End General forms
*/
