<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cloudurl" value="http://127.0.0.1:10000/devstoreaccount1" />
    <add key="cloudaccount" value="devstoreaccount1"/>
    <add key="cloudkey" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=localhost;Initial Catalog=Momntz;User Id=momntz;Password=folsom_2;" name="sql" />
    <add connectionString="Data Source=localhost;Initial Catalog=Momntz.Queue;User Id=momntz;Password=folsom_2;" name="queue" />
  </connectionStrings>
</configuration>