<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="DEV" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=localhost;Initial Catalog=Momntz;User Id=momntz;Password=folsom_2;" name="sql" />
    <add connectionString="Data Source=localhost;Initial Catalog=Momntz.Queue;User Id=momntz;Password=folsom_2;" name="queue" />
  </connectionStrings>
</configuration>