@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "/Views/Shared/_LoginMaster.cshtml";
}

@section Head{

            <style type="text/css" >
            .contact-form {margin: 0 0 10px;}
            .contact-form label { display: block; float: none; margin-bottom: 3px; font-size: 18px;}

            .contact-form input[type="text"], .contact-form input[type="password"] { margin-bottom: 13px; width: 300px; padding: 5px; font-weight: bold;}
            label, input[type="button"], input[type="submit"], button {cursor: pointer;}
            body, select, input, textarea {color: #444; padding: 5px; font-family: arial,helvetica,sans-serif;}
            select, input, textarea {font: 99% arial; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #ccc; }
            input, select {vertical-align: middle;}
            .loginform { width: 400px;height: 400px;}

            .centered { position: fixed; top: 50%; left: 50%; margin-top: -200px; margin-left: -200px;}
        </style>

}
<div class="loginform centered" >
    <form class="contact-form" method="POST"  >
        <div>
            <label>Forgot Username?</label>
            <input type="text" name="email" value="Enter email" />
        </div>
        <input type="submit" value="Send username" />
        
        <div style="margin-top: 50px;" >
            <label>Forgot password?</label>
            <input type="text" name="username" value="Enter username" />
        </div>
                
        <input type="submit" value="Reset password" />

    </form>
</div>

<br style="clear: both;" />
