<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Momntz.</title>
        <link href="~/Content/css/site1.css" rel="stylesheet" />
        <style type="text/css">
            body{background-color: #fff;}
        </style>
    </head>
    <body>
        <div class="loginform centered formcontainer" >
            <img src="~/Content/images/momntzlogo.png" />
            <form method="POST"  >
                <p>
                    <label>Username</label>
                    <input type="text" name="username" />
                </p>
                
                <p>
                    <label>Password</label>
                    <input type="password" name="password" />
                </p>
                
                <p style="color:red; font-weight: bold;" ></p>

                <input type="submit" value="Login" />
            </form>
    
            <ul id="signup" >
                <li>Forgot your <a href="/forgot">password or username</a>?</li>
                <li>Need an account? <a href="/join">Sign up</a>!</li>
            </ul>
        </div>
    </body>
</html>

