@using Momntz.UI.Areas.Users.Models
@model NavigationModel

<ul>
    @if(@Model == null)
    {
        <li><a href="/login" title="Login into Momntz" >Login</a></li>
        <li><a href="/join" title="Join Momntz" >Sign Up</a></li>
    }
    else 
    {
        if (Model.SignedUser.IsAuthenticatedUser)
        {
            if (Model.Visibility == NavigationVisiblity.AddAlbum)
            {
                <li><a id="triggerAlbumAdd" class="add fontsize12" href="#addAlbum" >Add Album</a></li>
            }
            
            if (Model.Visibility == NavigationVisiblity.AddImage)
            {
                <li><button id="addimages" title="Upload images to your account." ></button></li>
            }
        }
        <li><button class="displayname" ><span id="displayname" ><a href="/@Model.SignedUser.Username" title="@Model.SignedUser.DisplayName's homepage" >@Model.SignedUser.DisplayName</a></span></button>
            <ul>
                <li><a href="/@Model.SignedUser.Username/albums" title="View albums" >Albums</a></li>
                <li><a href="/@Model.SignedUser.Username/connections" title="View connections" >Connections</a></li>

                @if (Model.SignedUser.IsAuthenticatedUser)
                {
                    @*<li><a href="/@Model.SignedUser.Username/settings" title="View connections" >Settings</a></li>*@
                    <li><a href="/signout" title="Sign out of Momntz" >Sign Out</a></li>
                }

            </ul>
        </li>

        if (!Model.SignedUser.IsAuthenticatedUser)
        {
            <li><a class="nonsignedinnav" href="/" title="Login into Momntz" >Login</a></li>
        }
    }
</ul>

