@model Momntz.UI.Models.Login.LoginView 

@{
    Layout = "/Views/Shared/_LoginMaster.cshtml";
 }


@section Head{

            <style type="text/css" >
            .contact-form {margin: 0 0 10px;}
            .contact-form label { display: block; float: none; margin-bottom: 3px; font-size: 18px;}

            .contact-form input[type="text"], .contact-form input[type="password"] { margin-bottom: 13px; width: 300px; padding: 5px; font-weight: bold;}
            label, input[type="button"], input[type="submit"], button {cursor: pointer;}
            body, select, input, textarea {color: #444; padding: 5px; font-family: arial,helvetica,sans-serif;}
            select, input, textarea {font: 99% arial; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #ccc; }
            input, select {vertical-align: middle;}
            .loginform { width: 400px;height: 400px;}

            .centered { position: fixed;top: 30%; left: 50%; margin-top: -200px; margin-left: -200px;}
        </style>

}
<div class="loginform centered" >
    <form class="contact-form" method="POST"  >
        <div>
            <label>Email</label>
            <input type="text" name="email" />
        </div>
        
        <div>
            <label>First Name</label>
            <input type="text" name="firstname" />
        </div>

        <div>
            <label>Last Name</label>
            <input type="text" name="lastname" />
        </div>

        <div>
            <label>Display Name</label>
            <input type="text" name="displayname" />
        </div>

        <div>
            <label>Username</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" />
        </div>
        
        <div>
            <label>Confirm Password</label>
            <input type="password" />
        </div>
                
        <p style="color:red; font-weight: bold;" >@Model.Message</p>

        <input type="submit" value="Create" />
    </form>
    
    <ul id="signup" >
        <li>Forgot your <a href="/forgot">password or username</a>?</li>
        <li>Need an account? <a href="/signup">Sign up</a>!</li>
    </ul>
</div>

<br style="clear: both;" />