<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace" >
    <add key="Environment" value="QA" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://momntzqa.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=IbgyP8beHL15QtPGUN3KKFsogMUozdeX7603EF7xd40=" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace" >
    <clear />
    <add connectionString="Data Source=Apollo;Initial Catalog=QaMomntz;User Id=momntz;Password=folsom_1;" name="sql" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>