<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace" >
    <add key="Environment" value="PROD" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://momntz.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=6d1C5tpI4JRCUqWZ1QxIx+4+M1uYZZgZiR2lYL2ieXw=" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace" >
    <clear />
    <add connectionString="Server=tcp:w9vp2xoryp.database.windows.net,1433;Database=momntz;User ID=momntz@w9vp2xoryp;Password=Folsom1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" name="sql" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>