@using Momntz.UI.Areas.Users.Models
@using SquishIt.Framework
@using SquishIt.Mvc
@model GroupView

@{
    Layout = "~/Views/Shared/_MasonryMaster.cshtml";
}

@section Head
{ 
        @(Bundle.JavaScript()
    .Add("~/Scripts/views/album/index.js")
    .MvcRender("/scripts/combined_#.js"))
}


@if (Model.Items.Count > 0)
{
    <input type="hidden" id="lastalbumid" value="@Model.Items.Last().Id" />
}

<div id="addAlbum" class="modal" style="display: none;" >
    <div class="header" >
        <h2>Create an Album</h2>
        <span class="required"><span class="required fontsize22">*</span> required.</span>
    </div>
    <p>
        <label>Name<span class="required fontsize22">*</span></label>
        <input type="text" id="albumName" />
    </p>
    <p>
        <label>Story</label>
        <textarea id="albumStory" ></textarea>
    </p>
    <p>
        <button id="createalbum" class="action" >Create Album</button>
        <button id="cancelAlbum" class="action">Cancel</button>
    </p>
</div>

@section Navigation
{
    @{ Html.RenderPartial("/Views/Shared/_MasonryNavigationPartial.cshtml", new NavigationModel{ SignedUser = Model, Visibility = NavigationVisiblity.AddAlbum}); }
}

@{ Html.RenderPartial("_MasonryGroupedItemsPartial", Model); }