@using Momntz.UI.Areas.Users.Models
@using SquishIt.Framework
@using SquishIt.Mvc
@model ContentWithTitleView

@{
    Layout = "/Views/Shared/_MasonryMaster.cshtml";
}

@section BottomScript
{
    <style>
        h1 {text-align: center;margin-top: 0;font-size: 20px;clear: both;margin-bottom: 15px;}
    </style>

        @(Bundle.JavaScript()
        .Add("~/Scripts/views/album/name.js")
        .MvcRender("/scripts/combined_#.js"))
}

@if (Model.Items.Count > 0)
{
    <input type="hidden" id="lastmomentid" value="@Model.Items.Last().Id" />
    <input type="hidden" id="lastimage" value="" />
}

<input type="hidden" id="albumId" value="@Model.Id" />

@section Navigation
{
    @{ Html.RenderPartial("/Views/Shared/_MasonryNavigationPartial.cshtml", new NavigationModel {SignedUser = Model, Visibility = NavigationVisiblity.AddImage}); }
}


@section ContentTitle{
    <h1 style="margin-top: 60px;">@Model.Title</h1>
}



@{ Html.RenderPartial("_MasonryPartial", Model.Items); }